.dishes {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 20px;
    background-color: $white-color;
    margin-top: 15px;
    @include box-shadow-color;

    &_text {
        justify-content: space-between;
        width: 80%;
        padding: 12px 0 12px 12px;

        .dishes_name {
            font-weight: bold;
        }
    
        p {
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 0.9rem;
            margin-bottom: 5px;
        }
    }

    &_price {
        position: absolute;
        right: 15px;
        bottom: 15px;
        align-self: flex-end;
        font-weight: bold;
        transform-origin: right;
        @include check-mark(transform);
    }

    .animation{
        display: flex;
        border-radius: 0 20px 20px 0;
        background-color: $tertiary-color;
        width: $check-mark-width;
        transform-origin: right;
        transform: scaleX(0);
        @include check-mark(transform);

        .animation_icon{
            color: $white-color;
            font-size: 1.5rem;
            margin: auto;
            transform: rotate(0deg);
            @include check-mark(transform);
        }
    }

    &:hover {
        cursor: pointer;
    }

    &:hover .dishes_text{
        width: 60%;
        .dishes_name, p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &:hover .animation{
        transform: scaleX(1);
    }

    &:hover .animation_icon{
        transform: rotate(360deg);
    }

    /* negative sign (-) are required here for moving the price on the left side */
    &:hover .dishes_price{
        transform: translateX(-$check-mark-width);
    }
}

/* animation for the delay of appearance of dishes */
.container-menu {
    animation-name: dish-loading;
    animation-duration: 5000ms;
    animation-delay: 0s;
}

.starter {
    animation-name: dish-loading;
    animation-duration: 5000ms;
    animation-delay: 0s;
}

.main-dish {
    animation-name: dish-loading;
    animation-duration: 5000ms;
    animation-delay: 1s;
}

.dessert {
    animation-name: dish-loading;
    animation-duration: 5000ms;
    animation-delay: 2s;
}
  
@keyframes dish-loading {
    from {
        transform: translateY(1000px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (min-width: 1024px) {
    @keyframes dish-loading {
        from {
            transform: translateX(1000px);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}
