body {
    margin: 0;
    padding: O;
    font-family: $font-family-body;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
} 

h1,
h2,
h3 {
    font-family: $font-familiy-title;
}

.flex {
    display: flex;
}

