@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

.flex {
  display: flex;
}

.btn {
  border-radius: 25px;
  cursor: pointer;
  border: none;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  padding: 15px 25px;
  color: #FFFFFF;
  box-shadow: 3px 5px 10px #c3c3c3;
}
.btn:hover {
  background: linear-gradient(175deg, #FF79DA, #ae80e5);
  box-shadow: 3px 5px 10px #aaaaaa;
}

.btn-restaurant {
  width: 220px;
  margin: 0 auto;
}

.btn-order {
  display: block;
  width: 185px;
  margin: 45px auto 0;
}

/* heart management for index*/
.restaurant-heart {
  position: relative;
  justify-content: center;
  width: 25%;
  font-size: 2rem;
}
.restaurant-heart .empty {
  cursor: pointer;
  color: #4d4d4d;
  /* + into the place of ~ works as well */
}
.restaurant-heart .empty:active {
  display: none;
}
.restaurant-heart .empty:active ~ .full {
  display: contents;
  color: #FF79DA;
}
.restaurant-heart .full {
  position: absolute;
  display: none;
}

/* heart management for the 4 restaurants */
.resto_name {
  position: relative;
  justify-content: center;
}
.resto_name .empty {
  color: #4d4d4d;
  font-size: 2rem;
  /* + into the place of ~ works as well */
}
.resto_name .empty:active {
  display: none;
}
.resto_name .empty:active ~ .full {
  display: contents;
  color: #FF79DA;
}
.resto_name .full {
  position: absolute;
  display: none;
  font-size: 2rem;
}

/* @media for heart buttons */
@media only screen and (min-width: 1024px) {
  .restaurant-heart {
    justify-content: center;
    width: 25%;
    font-size: 2rem;
  }
  .restaurant-heart .empty {
    position: relative;
    cursor: pointer;
    color: #4d4d4d;
    /* + into the place of ~ works as well */
  }
  .restaurant-heart .empty:hover {
    display: none;
  }
  .restaurant-heart .empty:hover ~ .full {
    display: contents;
    color: #FF79DA;
  }

  .resto_name {
    position: relative;
    justify-content: center;
  }
  .resto_name .empty {
    color: #4d4d4d;
    font-size: 2rem;
    /* + into the place of ~ works as well */
  }
  .resto_name .empty:hover {
    display: none;
  }
  .resto_name .empty:hover ~ .full {
    display: contents;
    color: #FF79DA;
  }
}
.dishes {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 20px;
  background-color: #FFFFFF;
  margin-top: 15px;
  box-shadow: 3px 5px 10px #c3c3c3;
  /* negative sign (-) are required here for moving the price on the left side */
}
.dishes_text {
  justify-content: space-between;
  width: 80%;
  padding: 12px 0 12px 12px;
}
.dishes_text .dishes_name {
  font-weight: bold;
}
.dishes_text p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.dishes_price {
  position: absolute;
  right: 15px;
  bottom: 15px;
  align-self: flex-end;
  font-weight: bold;
  transform-origin: right;
  transition: transform 200ms 50ms linear;
}
.dishes .animation {
  display: flex;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  width: 75px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 200ms 50ms linear;
}
.dishes .animation .animation_icon {
  color: #FFFFFF;
  font-size: 1.5rem;
  margin: auto;
  transform: rotate(0deg);
  transition: transform 200ms 50ms linear;
}
.dishes:hover {
  cursor: pointer;
}
.dishes:hover .dishes_text {
  width: 60%;
}
.dishes:hover .dishes_text .dishes_name, .dishes:hover .dishes_text p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dishes:hover .animation {
  transform: scaleX(1);
}
.dishes:hover .animation_icon {
  transform: rotate(360deg);
}
.dishes:hover .dishes_price {
  transform: translateX(-75px);
}

/* animation for the delay of appearance of dishes */
.starter {
  animation-name: starter-loading;
  animation-duration: 5000ms;
  animation-delay: 0s;
}

.main-dish {
  animation-name: main-dish-loading;
  animation-duration: 5000ms;
  animation-delay: 1s;
  opacity: 0;
}

.dessert {
  animation-name: dessert-loading;
  animation-duration: 5000ms;
  animation-delay: 2s;
  opacity: 0;
}

@keyframes starter-loading {
  from {
    transform: translateY(1000px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes main-dish-loading {
  from {
    transform: translateY(1000px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dessert-loading {
  from {
    transform: translateY(1000px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media only screen and (min-width: 1024px) {
  @keyframes starter-loading {
    from {
      transform: translateX(1000px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes main-dish-loading {
    from {
      transform: translateX(1000px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes dessert-loading {
    from {
      transform: translateX(1000px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
.loading-spinner {
  display: none;
}

.header-homepage {
  height: 60px;
}
.header-homepage img {
  width: 160px;
  margin: auto;
}

.header-pages {
  height: 60px;
  align-items: center;
  padding-right: 50px;
}
.header-pages a {
  color: #373737;
  width: 50px;
}
.header-pages i {
  font-size: 1.2rem;
  margin: auto;
}
.header-pages h1 {
  flex: auto;
  text-align: center;
}

/* animation for the loading spinner */
.page-loading {
  display: flex;
  position: fixed;
  transform: scale(0);
  background-color: rgba(246, 246, 246, 0.75);
  animation: loading-background 3000ms 50ms backwards;
}
.page-loading .waiting {
  transform: scale(0);
  font-size: 20rem;
  color: #9356DC;
  margin: auto;
  animation: loading-spinner 3000ms 50ms linear backwards;
}

@keyframes loading-background {
  from, to {
    transform: scale(1);
    width: 100vw;
    height: 100vh;
  }
}
@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  to {
    transform: rotate(1turn);
    opacity: 0;
  }
}
footer {
  background-color: #373737;
  color: #FFFFFF;
  padding: 30px 0 35px;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  margin: 0 0 25px 5vw;
}
footer ul {
  padding-left: 0;
}
footer li {
  margin-top: 12px;
  margin-left: 5vw;
}
footer a {
  color: #FFFFFF;
}
footer a i {
  width: 20px;
  text-align: center;
  margin-right: 10px;
}

.location {
  height: 50px;
  background-color: #dddddd;
  /* inset | offset-x | offset-y | blur-radius | spread-radius |color */
  box-shadow: inset 0 5px 3px -2px #aaaaaa;
}
.location i {
  margin-right: 15px;
}
.location p {
  margin: auto;
}

.presentation {
  background-color: #F6F6F6;
  text-align: center;
  padding: 45px 50px 60px;
}
.presentation h2 {
  margin-bottom: 20px;
}
.presentation p {
  margin-bottom: 35px;
}

.operation {
  padding: 50px 0 45px;
  margin: 0 5vw;
}
.operation h2 {
  margin-bottom: 30px;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choices {
  height: 75px;
  align-items: center;
  margin-bottom: 20px;
  width: 90vw;
  cursor: pointer;
}
.choices_number {
  z-index: 2;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  color: #FFFFFF;
  font-size: 0.8rem;
}
.choices_number span {
  margin: auto;
}
.choices_text {
  position: relative;
  left: -10px;
  border-radius: 20px;
  align-items: center;
  padding: 30px 0;
  width: 100%;
  background-color: #F6F6F6;
  font-weight: bold;
  box-shadow: 3px 5px 10px #c3c3c3;
}
.choices_text i {
  color: #777777;
  margin: 0 25px 0 35px;
  font-size: 1.2rem;
}
.choices_text:hover {
  background-color: #f2eafb;
}
.choices_text:hover i {
  color: #9356DC;
}

@media only screen and (min-width: 600px) {
  .operation h2 {
    text-align: center;
  }
  .operation h2::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 3px;
    width: 100px;
    background: linear-gradient(175deg, #FF79DA, #9356DC);
    margin-right: 50px;
  }
  .operation h2::after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 3px;
    width: 100px;
    background: linear-gradient(175deg, #FF79DA, #9356DC);
    margin-left: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .selection {
    flex-direction: row;
  }
}
.restaurants {
  background-color: #F6F6F6;
  padding: 55px 5vw 45px;
}
.restaurants h2 {
  margin-bottom: 25px;
  margin-left: 5vw;
}

.restaurant-preview {
  height: 250px;
  margin-bottom: 20px;
}
.restaurant-preview_image {
  position: relative;
  height: 175px;
}
.restaurant-preview_image img {
  width: 90vw;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  box-shadow: 3px 5px 10px #c3c3c3;
}
.restaurant-preview_image .new {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 6px 12px;
}
.restaurant-preview_description {
  align-items: center;
  border-radius: 0 0 20px 20px;
  height: 75px;
  background-color: #FFFFFF;
  box-shadow: 3px 5px 10px #c3c3c3;
}
.restaurant-preview_description .description-content {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  padding-left: 12px;
  color: #000000;
}
.restaurant-preview_description .description-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}
.restaurant-preview_description .description-name + p {
  margin: 0;
}

/* index/.container-restaurant flexbox management */
@media only screen and (min-width: 600px) {
  .container-restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 5vw;
  }
  .container-restaurant img {
    width: 42.5vw;
  }

  .restaurants {
    padding: 55px 0 45px;
  }
  .restaurants h2 {
    text-align: center;
    margin: 0 5vw 50px;
  }
  .restaurants h2::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 3px;
    width: 100px;
    background: linear-gradient(175deg, #FF79DA, #9356DC);
    margin-right: 50px;
  }
  .restaurants h2::after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 3px;
    width: 100px;
    background: linear-gradient(175deg, #FF79DA, #9356DC);
    margin-left: 50px;
  }

  .restaurant-preview {
    margin: 0;
    margin-bottom: 40px;
  }
}
main {
  background-color: #F6F6F6;
}

.resto-picture {
  height: 270px;
}
.resto-picture.picture-lpdg {
  background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.resto-picture.picture-lne {
  background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.resto-picture.picture-alf {
  background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
.resto-picture.picture-ldds {
  background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.resto {
  position: relative;
  top: -40px;
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
  padding: 40px 5vw 20px;
}
.resto_name {
  justify-content: space-between;
  align-items: baseline;
  margin-right: 20px;
}
.resto_name h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.7rem;
}
.resto_name i {
  font-size: 1.4rem;
}
.resto h3 {
  text-transform: uppercase;
  padding: 45px 0 0 5px;
  font-weight: lighter;
}
.resto h3::after {
  display: block;
  content: "";
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin-top: 10px;
}

@media only screen and (min-width: 1024px) {
  .resto {
    padding: 40px 2.5vw 20px;
  }
  .resto_name {
    justify-content: center;
    margin-right: 0;
  }
  .resto_name h2 {
    margin-right: 50px;
  }

  .container-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sub-menu {
    width: 30vw;
  }
  .sub-menu h3 {
    text-align: center;
    margin-bottom: 30px;
  }
  .sub-menu h3::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 3px;
    width: 30px;
    background: #99E2D0;
    margin-right: 30px;
  }
  .sub-menu h3::after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 3px;
    width: 30px;
    background: #99E2D0;
    margin-left: 30px;
    margin-top: 0;
  }
  .sub-menu .dishes {
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
