@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0;
  padding: O;
  box-sizing: border-box;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

.flex {
  display: flex;
}

.btn {
  border-radius: 25px;
  padding: 15px 25px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: #FFFFFF;
}

.header-homepage {
  height: 60px;
}
.header-homepage img {
  width: 160px;
  margin: auto;
}

footer {
  background-color: #373737;
  color: #FFFFFF;
  padding: 30px 0 35px;
}
footer h3 {
  margin: 0 0 25px 5vw;
}
footer ul {
  padding-left: 0;
}
footer li {
  margin-top: 12px;
  margin-left: 5vw;
}
footer a {
  color: #FFFFFF;
}
footer a i {
  margin-right: 10px;
}

.location {
  height: 50px;
  background-color: #dddddd;
}
.location i {
  margin-right: 15px;
}
.location p {
  margin: auto;
}

.presentation {
  background-color: #F6F6F6;
  text-align: center;
  padding: 45px 50px 60px;
}
.presentation h2 {
  margin-bottom: 20px;
}
.presentation p {
  margin-bottom: 35px;
}

.operation {
  padding: 50px 0 45px;
  margin: 0 5vw;
}
.operation h2 {
  margin-bottom: 30px;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choices {
  height: 75px;
  align-items: center;
  margin-bottom: 20px;
  width: 90vw;
  cursor: pointer;
}
.choices_number {
  z-index: 2;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  color: #FFFFFF;
  font-size: 0.8rem;
}
.choices_number span {
  margin: auto;
}
.choices_text {
  position: relative;
  left: -10px;
  border-radius: 20px;
  align-items: center;
  padding: 30px 0;
  width: 100%;
  background-color: #F6F6F6;
  font-weight: bold;
  box-shadow: 3px 5px 10px #d7d7d7;
}
.choices_text i {
  color: #777777;
  margin: 0 25px 0 35px;
  font-size: 1.2rem;
}
.choices_text:hover {
  background-color: #f2eafb;
}
.choices_text:hover i {
  color: #9356DC;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 55px 0 65px;
}
.restaurants h2 {
  margin-bottom: 25px;
  margin-left: 5vw;
}

.restaurant-preview {
  height: 250px;
  margin: 0 5vw;
  margin-bottom: 20px;
}
.restaurant-preview_image {
  position: relative;
  height: 175px;
}
.restaurant-preview_image img {
  width: 90vw;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant-preview_image .new {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 6px 12px;
}
.restaurant-preview_description {
  align-items: center;
  border-radius: 0 0 20px 20px;
  height: 75px;
  background-color: #FFFFFF;
}
.restaurant-preview_description .description-content {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  padding-left: 12px;
  color: #000000;
}
.restaurant-preview_description .description-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}
.restaurant-preview_description .description-name + p {
  margin: 0;
}
.restaurant-preview_description .restaurant-heart {
  justify-content: center;
  width: 25%;
  font-size: 2rem;
  color: #4d4d4d;
}

/*# sourceMappingURL=style.css.map */
