main {
    background-color: $light-gray-color;
}

.resto-picture {
    height: 270px;

    &.picture-lpdg {
        @include background-restaurant-image(resto-la-palette-du-gout);
    }

    &.picture-lne {
        @include background-restaurant-image(resto-la-note-enchantee);
    }

    &.picture-alf {
        @include background-restaurant-image(resto-a-la-francaise);
    }

    &.picture-ldds {
        @include background-restaurant-image(resto-le-delice-des-sens);
    }
}

.resto {
    position: relative;
    top: -40px;
    border-radius: 40px 40px 0 0;
    background-color: $light-gray-color;
    padding: 40px 5vw 20px;

    &_name {
        justify-content: space-between;
        align-items: baseline;
        margin-right: 20px;

        h2 {
            font-family: 'Shrikhand', sans-serif;
            font-size: 1.7rem;
        }

        i {
            font-size: 1.4rem;
        }
    }

    h3 {
        text-transform: uppercase;
        padding: 45px 0 0 5px; 
        font-weight: lighter;
    
        &::after {
            display: block;
            content: "";
            height: 3px;
            width: 40px;
            background-color: $tertiary-color;
            margin-top: 10px;
        }
    }
}





