@mixin box-shadow-color ($color: darken($light-gray-color, 20%)) {
    box-shadow: 3px 5px 10px $color;
}

@mixin background-restaurant-image($restaurant) {
    background: url('../images/restaurants/#{map-get($restaurant-image, $restaurant)}');
    background-size: cover;
    background-position: center;
}

@mixin check-mark($add-a-dish) {
    transition: $add-a-dish 200ms 50ms linear;
}